/* Importa Great Vibes como fallback para Apple Chancery */
@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Dancing+Script:wght@400;600&display=swap');



/* Tailwind base */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-title: 'Dancing Script', cursive;
  --font-names: 'Charmonman', cursive;
  --font-body: 'Palatino', 'Palatino Linotype', 'Book Antiqua', serif; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Aplicar fuentes globalmente */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body); /* Palatino */
}

body {
  font-family: var(--font-body); /* Palatino para todo el cuerpo del sitio */
}

h1, h2, h3, h4 {
  font-family: var(--font-title); /* Dancing Script por defecto */
}

h1.names, h2.names, h3.names {
  font-family: var(--font-names); /* Charmonman solo para los nombres */
}
html, body {
  overflow-x: hidden;
}